body {
    margin: 0;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

nav ul {
    display: flex;
}

nav a,
.links {
    font-family: calibri;
    font-size: 15px;
    color: cadetblue;
    margin: 25px;
    text-decoration: none;
}

li {
    list-style: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: cadetblue;
    margin: 5px;
}

.burger {
    display: none;
}

#image-header {
    background-image: url(../img/COMERCIO-INTERNACIONAL.jpg);
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    max-width: 100%;
    color: cadetblue;
    text-align: center;
}

.section-1 {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.section-1-left {
    background-color: cadetblue;
    width: 25%;
    height: 60%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    left: 10%;
}

.section-1-left h2 {
    font-size: 1.5em;
}

.section-1-left p {
    font-size: 1em;
}

.section-1-right {
    background-image: url(../img/expor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 70%;
    position: relative;
    bottom: 5%;
    right: 10%;
}

.section-2 {
    background-color: white;
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2-left {
    background-image: url(../img/expor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.section-2-right {
    background-color: cadetblue;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.section-3 {
    background-color: white;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-3-header {
    background-image: url(../img/expor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    height: 25vh;
    text-align: center;
}

.section-3-bottom {
    display: flex;
    justify-content: space-evenly;
}

.section-3-bottom div {
    background-color: cadetblue;
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    height: 70vh;
}

.section-4-header {
    background-image: url(../img/expor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    height: 25vh;
    text-align: center;
}

.section-4-bottom {
    display: flex;
    justify-content: space-evenly;
}

.section-4-bottom div {
    width: 15%;
    height: 20vh;
    color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}

#image-importacion {
    background-image: url(../img/importacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#image-exportacion {
    background-image: url(../img/exportacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#image-transito {
    background-image: url(../img/transito.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#image-tasas {
    background-image: url(../img/tasas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#image-cargos {
    background-image: url(../img/cargos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer p {
    text-align: center;
    color: cadetblue;
}


/* .section-4-bottom div h1 {
    color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-family: 'Poppins';
} */

@media all and (max-width: 950px) {
    body {
        overflow-x: hidden;
    }
    nav ul {
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 95vh;
        right: 0%;
        top: 5vh;
        background-color: white;
        z-index: 1;
        transform: translateX(120%);
    }
    .burger {
        display: block;
    }
    .section-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-1-left {
        position: relative;
        width: 70%;
        height: 100vh;
        bottom: 10%;
        left: 0;
    }
    .section-1-right {
        position: relative;
        width: 90%;
        bottom: -10%;
        left: 0;
    }
    .section-1-left h2 {
        font-size: 1em;
        text-align: center;
    }
    .section-1-left p {
        font-size: 1em;
        text-align: center;
    }
    .section-2-left {
        position: relative;
        right: -10%;
    }
    .section-2-right {
        position: relative;
        height: 80%;
        left: -10%;
    }
    .section-3 {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-color: white;
    }
    .section-3-bottom {
        height: 60vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: cadetblue;
    }
    .section-3-bottom div {
        width: 90vw;
        height: 15vh;
        background-color: white;
    }
    .section-4 {
        flex-direction: column;
        justify-content: space-evenly;
        height: 150vh;
        background-color: white;
    }
    .section-4-bottom {
        height: 130vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .section-4-bottom div {
        width: 90%;
        height: 20vh;
        color: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
    }
}

.menu-active {
    transform: translateX(5%);
}