body {
    margin: 0;
    min-height: 100vh;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

nav ul {
    display: flex;
}

nav a,
.links {
    font-family: calibri;
    font-size: 15px;
    color: cadetblue;
    margin: 25px;
    text-decoration: none;
}

li {
    list-style: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: cadetblue;
    margin: 5px;
}

.burger {
    display: none;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 132, 134);
    width: 100%;
    height: 250vh;
}

.section-1-top {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.section-1-mid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.section-1-bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.box-size {
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.box-size-top {
    width: 100%;
    height: 70%;
}

.box-text-position {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-top {
    background-image: url(../comercio-internacional/img/importacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box2-top {
    background-image: url(../comercio-internacional/img/exportacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box3-top {
    background-image: url(../comercio-internacional/img/transito.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box4-top {
    background-image: url(../comercio-internacional/img/tasas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box5-top {
    background-image: url(../comercio-internacional/img/cargos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer p {
    text-align: center;
    color: cadetblue;
}

@media all and (max-width: 950px) {
    body {
        overflow-x: hidden;
    }
    nav ul {
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 95vh;
        right: 0%;
        top: 5vh;
        background-color: white;
        z-index: 1;
        transform: translateX(120%);
    }
    .burger {
        display: block;
    }
    .section-1 {
        height: 400vh;
    }
    .box-size {
        width: 90%;
    }
    .section-1-top {
        flex-direction: column;
        align-items: center;
        height: 200vh;
    }
    .section-1-mid {
        flex-direction: column;
        align-items: center;
        height: 200vh;
    }
    .section-1-bottom {
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
}

.menu-active {
    transform: translateX(5%);
}